body { 
    margin: 0; 
    padding: 0; 
}

#wrapper {
    display: flex;
    flex-wrap: nowrap;
}

aside {
    padding: 1em;
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}


h1 {
    font-size: 25px;
    line-height: 30px;
}

h2 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #2dc4b2;
}

#console {
    position: absolute;
    width: 240px;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
}

.form-group > * {
    display: block;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 0.5em 1em;
}

#features {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}

#map canvas {
    cursor: crosshair;
}